.page__wrapper {
  min-height: calc(100vh - 170px);
  .page__title {
    font-size: 18px;
  }

  //before login pages
  &.auth__page {
    margin-top: 100px;
    min-height: 400px;
    .page__title {
      margin-bottom: 20px;
    }
  }

}

.page__footer {
  background: #ffffff;
}

